@media (max-width: 720px) {
    h1{
        text-align: center;
    }
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    .mainContent{
        display: flex;
        flex-direction: column;
    }
    .first{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: center;
        margin: 0;
        width: 80%;
    }
    .second{
        display: flex;
        align-self: center;
        background-size: 80%;
        width: 80%;
    }
    .fromBlog{
        display: flex;
        flex-direction: column;
    }
    .ImagesBlog{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: center;
        align-items: center;
        flex-wrap: nowrap;
        width: 50%;
    }
    .BlogSize{

        margin-top: 10px;
    }
    .footerContent{
        padding: 0;
    }
    .botFooter{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}