html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

/*///////////////////////*/
body {
    background-color: #F2F1F0;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

h1{
    color: white;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

h2{
    color:#FAFFFF;
    font-size: 14px;
    font-weight: 200;
}

h3{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

h4{
    color: #000000;
    font-size: 12px;
    line-height: 15px;
}
h5{
    color: #666666;
    font-size: 12px;
    line-height: 15px;
}
footer{
    background-color: #858279;
}

a:link{
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}
a:hover{
    text-decoration: underline;
}

hr{
    margin-top: 5px;
    color: #FFB300;
    height:1px;
    border: none;
    max-width: 926px;
    background-color:#FFB300; 
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.main {
    display: flex;
    flex-direction: column;
    background-color: #E6E2DD;
    max-width: 1024px;
    margin: auto;
}

.navigation{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.navigation .logo{
    width: 50px;
}

.navigation section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #FFFFFF;
    flex-wrap: wrap;
    width: 15.5%;
    height: 50px;
}


.greenHelp {
    display: flex;
    background-color: #008375;
}

.yellowBlog {
    display: flex;

    background-color: #FFB300;
}

.redDownloads {

    display: flex;
    background-color: #C61931;
}

.purpleComm {
    display: flex;
    background-color: #71456C;
}

.orangeFor {
    display: flex;
    background-color: #FD4F57;
}

.blueEduc {
    display: flex;
    background-color: #328AAB;
}
.mainContent{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
}
.raspberryBuy{
    margin-top: 10px;
    float: right;
    width: 196px;
    height: 133px;
}
.paddingright{
    padding-left: 10px;
}
.first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #64A4BD;
    margin: 30px 50px 0 30px;
}

.second{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 688px;
    height: 360px;
    justify-content: flex-end;
    background-image: url(images/Jam_Birthday_Weekend_Banner_v1-1.png);
    margin-top: 30px;
}

.textMargin{
    padding: 20px 0 0 10px;
}

.blackButton{
    display: flex;
    align-self: center;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 3;
}

.Button2{
    display: flex;
    flex-direction: row;
    background-color: #64A4BD;
    flex-wrap: nowrap;
    border: none;
    margin: 0 20px 20px 0;
    align-self:flex-end;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 3;
}

.FromBlog{
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
}

.ImagesBlog{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;

}

.BlogSize{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 5px 0 5px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #FFB300;
}


.comment{
    margin: 5px 5px 0 0;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    font-weight: 300;
    color: #FFFFFF;
    width: 34px;
    text-align: center;
    height: 24px;
    background: url("images/comment.png")
}

.SeeArchive{
    text-align: right;
    padding: 20px 0px 0 0;
}

footer{
    margin-top: 20px;
    border-top: 10px solid #000;
}

.footerContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 100px;
    padding-top: 20px;
}

.footerContentFirst{
    display: flex;
}

.footerContentSecond{
    display: flex;
}

.footerContentThird{
    display: flex;
}

.footerContentFourth{
    display: flex;
}

.footerTitleText{
    color: #222;
    padding-bottom: 15px;
}

.footertitle{
    display: flex;
}

.botFooter{
    padding:50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.firstBotFooter{
    display: flex;
}
.secondBotFooter a{
    color: #FFFFFF;
}

.secondBotFooter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logoWhite{
    float: left;
}

.column{
    display: flex;
    flex-direction: column;
}

.space{
    padding-right: 10px;
}

.navigationAtapt{
   display: none;
}
.menu{
    display: flex;
}
.logoAdapt{
    display: flex;
}

.ImagesBlog1{
    display: flex;
    flex-direction: row;
}
.ImagesBlog2{
    display: flex;
    flex-direction: row;
}

.imageBlock{
    display: flex;
    align-self: center;
    justify-content: space-between;
    width: 216px;
    height: 150px;
    flex-direction: column;
}

.imageBlock1{
    background-image: url("images/raspberry.jpg")
}
.imageBlock2{
    background-image: url("images/people.jpg")
}
.imageBlock3{
    background-image: url("images/jostick.jpg")
}

.blackButton:hover{
    background-color: #2e9786;
}
.shadowtext{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #FFFFFF;
    display: none;
}

.imageBlock:hover > .shadowtext{
    display: block;
    float: left;
    position: relative;
    bottom: 0;
    width: 100%;
    color: dimgrey;

}